body {
	background-image: url(/static/img/jazmin-quaynor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #a9a9a9;
}

.pageOneText{
	display: block;
	float: left;
	margin-top: 5%;
    margin-left: 4em;
    padding-left:1em;
	height: 300px;
    width: 300px;
    color: white;
    padding: 1.5em;
    padding-top: 2em;
    font-family: "Lato", "Helvetica", Arial, sans-serif;
    background-image: url(/static/img/backHaze.png);
    background-size: 300px 300px;
}

.pageOne{
	display: block;
	padding-top: 1.5em;
	background-color: whitesmoke;
	float: right;
	width: 50%;
	border-radius:10px;
	-webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
}

.pageTwoText{
	display: none;
	float: left;
	margin-top: 5%;
    margin-left: 4em;
    padding-left:1em;
	height: 300px;
    width: 300px;
    color: white;
    padding: 1.5em;
    padding-top: 2em;
    font-family: "Lato", "Helvetica", Arial, sans-serif;
    background-image: url(/static/img/backHaze.png);
    background-size: 300px 300px;
}

.pageTwo{
	display: none;
	padding-top: 1.5em;
	background-color: whitesmoke;
	float: right;
	width: 50%;
	border-radius:10px;
	-webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
}

.pageTwoText{
	display: none;
}

.topnav{
	background-color: #222222 !important;
	width: 100% !important;
	border-radius: 0px !important;
}

.navbar-brand{
	font-family: "Yellowtail";
	font-size: 36px;
	color: whitesmoke !important;
	margin-left: 2em;
	text-shadow: 2px 2px 13px rgba(0, 0, 0, 1);
	font-weight: 300;
}

.navbar-collapse li{
	font-size: 16px;
	color: whitesmoke !important;
	font-family: "Lato", Helvetica, Arial, sans-serif;
}

.navbar-default{
	background-color: transparent;
	border: none;
	/*font-size: 26px;*/
	/*margin-left: 3em;*/
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.form-container{
	/*background-color: rgba(225,225,215,0.63);*/
	border-radius: 15px;
	padding: 0;
}

/*.form-group{
	margin-top: 10%;
	background-color: whitesmoke;
	border-radius: 5px;
}*/

.form-header{
	/*background-color: #222222;*/
	height: 60px;
	width: 100%;
	/*border-radius: 15px 15px 0px 0px !important;*/
}

.form-header h1{
	font-size: 32px !important;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: left;
	color: white;
	margin-top: 0;
	padding-bottom: 0.5em;
}

.input-column{
	float: left;
	width: 35%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 4em;
	line-height: 3em;
    padding: 2em;
    background-color: rgba(225,225,215,0.63);
    border-radius: 15px;
}

.input-column h4{
	font-size: 20px;
}



.addressField .form-control{
	width: 100%;
}

.radiusField .form-control {
	width: 100%;
	margin-bottom: 3em;
}

.budgetField .form-control {
	width: 100%;
	margin-bottom: 3em;
}

.timeField .form-control {
	width: 80px !important;
	margin-bottom: 3em;
}

.nextButton .btn{
	float: right;
    margin: 1em;
    margin-top: 0em;
    font-family: "Yellowtail";
    width: 80px;
    background-color: #222222;
}

.nextButton .btn:hover{
	background-color: #ea6045;
	border-color: white;
}

.backButton .btn{
	float: left;
    margin: 1em;
    margin-top: 6em;
    font-family: "Yellowtail";
    width: 80px;
    background-color: #222222;
}

.backButton .btn:hover{
	background-color: #ea6045;
	border-color: white;
}

.loc-column{
	float: right;
	width: 50%;
	margin-right:5%;
	margin-top: 5.5em;
	font-size: 10px;
	color: black;
	background-color: rgba(225,225,215,0.63);
	padding-left: 2em;
	padding-right: 2em;
	border-radius: 15px;
	margin-bottom: 4em;
}

.loc-column h4{
	font-family: "Lato", "Helvetica", Arial, sans-serif;
	font-size: 22px;
	margin-top: 1em;
	padding-bottom: 1em;
}

.loc-column h3{
	color: black;
}

.loc-column-1{
	float: left;
	width: 50%;
}

.loc-column-2{
	margin-top: 7.7em;
	float: left;
	width: 45%;
	margin-bottom: 4em;
}

.addButton{
	font-family: "Yellowtail", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-left: 15%;
}

.submitButton{
	font-family: "Yellowtail", "Helvetica Neue", Helvetica, Arial, sans-serif;
	float: right;
	margin-top: 4em;
	margin-bottom: 4em;
	margin-right: 20%;
}

.btn-primary {
	width: 175px;
    line-height: 26px;
    height: 40px;
    font-size: 26px;
    text-align: center;
    padding-right: 0.6em;
    background-color: #3f5666;
}

footer{
	margin-top:3em;
	height: 80px;
}

.loc-column .form-group .form-control {
	width: 60px !important;
}

.form-group #museum, #cafe, #spa, #night_club, #liquor_store, #zoo, #book_store, #shopping_mall, #restaurant, #clothing_store, #bowling_alley, #park, #electronics_store, #movie_theater, #bakery, #library, #amusement_park, #department_store, #gym, #bar, #casino, #art_gallery  {
	background-color: #3f5666;
	color: white;
	margin: 5% !important;
	width: 90% !important;
	padding: 1em;
	border-radius: 5px;
}
